*,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

/* upper  */
.upper {
  background-color: rgb(11, 32, 101);
}

.upper img {
  width: 15px;
}

.upper .upper-box {
  display: flex;
  justify-content: space-between;
}

.upper .upper-box i {
  font-size: 10px;
}

.upper .upper-box1 span {
  color: white;
  font-size: 9px;
}

/* navbar */

/* .navbar .nav-item:nth-child(3) {
  border-right: 1px solid grey;
} */

.navbar span {
  font-weight: bold;
}

.navbar .nav-brand1 {
  background-color: yellow;
  font-size: 14px;
}

.navbar img {
  object-fit: cover;
  width: 30px;
  height: 30px;
}

.navbar li {
  font-size: 14px;
  font-weight: bold;
}

.navbar .dropdown .btn {
  border: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: grey;
}

.navbar i {
  font-size: 12px;
}

.navbar .avatar {
  border-radius: 50%;
}

/* Login Page  */

.login {
  background-image: url("img/bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-box {
  display: flex;
  align-items: center;
  height: 600px;
  justify-content: center;
}

.login .login-box h3 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 10px;
}

/* .login .login-box label {
  font-weight: bold;
} */

.login .login-box input {
  width: 100%;
  padding: 0 10px;
}

.login .login-box button {
  width: 100%;
}

.login .login-box .card-body p {
  font-size: 12px;
  margin-top: 10px;
}

.login .error-msg {
  font-size: 12px;
  color: red;
  margin: 0;
  padding: 0;
}

/* register page  */

.register {
  background-image: url("img/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.register .register-box {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register .card-body-flex {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.register .card-body-flex .card-body1 {
  width: 50%;
}

.register .card-body-flex .card-body2 {
  width: 50%;
}

.register .card-body-flex input {
  width: 100%;
}

.register .err-msg {
  color: red;
  font-size: 12px;
}

/* update Profile page  */
.update-profile {
  height: 600px;
}

.update-profile .kiri {
  background-color: rgb(224, 243, 247);
}

.update-profile .kiri ul {
  list-style: none;
  padding-top: 20px;
}

.update-profile .kiri ul li a {
  text-decoration: none;
}

.update-profile .kanan .card {
  width: 500px;
}

.update-profile .kanan .nama {
  font-size: 22px;
}

.update-profile .kanan .detil {
  font-size: 14px;
}

.update-profile .kanan img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* carousel  */

.carousel .carousel-inner {
}

/* category */
.category {
  margin: 50px;
}

.category p:nth-child(1) img {
  width: 20px;
}

.box-category {
  text-align: center;
}

.category .box-category p:nth-child(2) {
  color: grey;
  font-size: 12px;
}

.category .box-category p:nth-child(2) {
  color: grey;
  font-size: 12px;
}

.category .box-category p:nth-child(3) {
  font-weight: bold;
}

.category .box-category2 .tab-category {
  background-color: rgba(154, 189, 232, 0.324);
}

.category .row {
  display: flex;
  justify-content: center;
}

.category .box-category2 img:hover {
  opacity: 50%;
  transition: 0.7s;
}

/* promo  */

.promo {
  margin: 50px 0;
}

.promo .card .diskon {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 0 5px;
}

.promo .card .diskon img {
  width: 20px;
}
.promo h2 {
  font-weight: bold;
  font-size: 24px;
  color: rgb(2, 15, 57);
}

.promo p:nth-child(2) {
  font-size: 14px;
}

.promo p:nth-child(1) {
  font-size: 14px;
}

.promo .logodisc {
  width: 15px;
}

.promo p:nth-child(3) {
  color: rgb(11, 11, 141);
}

/* benefit at page Home  */

.benefit {
  margin-top: 50px;
  padding: 50px 0;
  background-color: rgba(118, 204, 232, 0.205);
}

.benefit h2 {
  font-size: 22px;
  font-weight: bold;
}

.benefit p {
  color: grey;
}

.benefit-box {
  display: flex;

  justify-content: center;
  gap: 50px;
}

.benefit .benefit-box .nomer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(120, 200, 0);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

/* popular */

.popular {
  margin: 50px 0;
}

.popular h2 {
  font-size: 22px;
  font-weight: bold;
}

.popular .popular-box p {
  font-size: 14px;
}

.popular .popular-box p img {
  width: 15px;
}

.popular i {
  color: rgb(1, 181, 25);
  font-size: 11px;
}

/* activity (Trip) */

.activity h2 {
  font-size: 22px;
  font-weight: bold;
}

.activity .card-body img {
  width: 12px;
}

.activity .card-box p {
  font-size: 14px;
}

.activity .card-body p {
  font-size: 14px;
}

.activity .card-body i {
  color: green;
  font-size: 12px;
}

/* footer */

.footer {
  background-color: rgb(11, 32, 101);
  padding-top: 10px;
}

.footer p {
  color: white;
  font-size: 12px;
  text-align: center;
}

/*  CSS ADMIN  */

/* navbar - admin */

.navbar-admin .navbar a {
  color: white;
  text-decoration: none;
}

.navbar-admin li {
  margin-bottom: 20px;
}

.navbar-admin .navbar img {
  border-radius: 50%;
}

.navbar-admin .navbar .navbar-brand {
  border-bottom: 1px solid red;
  width: 100%;
}

.navbar-admin .navbar a span {
  color: orange;
}

.navbar-admin .navbar .dropdown-menu a {
  color: rgb(45, 45, 45);
}

.navbar-admin .navbar {
  background-color: #222937;
}

/* Dashboard - admin page */
.dashboard-admin {
}

/* All User - admin page  */

/* Banner - admin page */

/* .table img {
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
} */

@media screen and (min-width: 576px) {
  .navbar-admin .navbar .container-fluid,
  .navbar-admin .navbar-expand-lg .navbar-collapse,
  .navbar-admin .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    align-items: start;
  }

  .navbar-admin .navbar {
    width: 200px;
    height: 100vh;
    align-items: start;
    position: fixed;
  }

  .dashboard-admin {
    margin-left: 200px;
    height: 300vh;
  }

  .all-user-admin {
    margin-left: 200px;
  }

  .banner-admin {
    margin-left: 200px;
  }

  .promo-admin {
    margin-left: 200px;
  }

  .activity-admin {
    margin-left: 200px;
  }
}
