*,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

/* upper  */
.upper {
  background-color: rgb(11, 32, 101);
}

.upper img {
  width: 15px;
}

.upper .upper-box {
  display: flex;
  justify-content: space-between;
}

.upper .upper-box i {
  font-size: 10px;
}

.upper .upper-box1 span {
  color: white;
  font-size: 9px;
}

/* navbar */

.navbar span {
  font-weight: bold;
}

.navbar .nav-brand1 {
  background-color: yellow;
  font-size: 14px;
}

.navbar img {
  width: 30px;
}

.navbar li {
  font-size: 14px;
  font-weight: bold;
}

/* carousel  */
.carousel .carousel-inner {
}

/* category */
.category {
  margin: 50px;
}

.category p:nth-child(1) img {
  width: 20px;
}

.box-category {
  text-align: center;
}

.category .box-category p:nth-child(2) {
  color: grey;
  font-size: 12px;
}

.category .box-category p:nth-child(2) {
  color: grey;
  font-size: 12px;
}

.category .box-category p:nth-child(3) {
  font-weight: bold;
}

.category .box-category2 .tab-category {
  background-color: rgba(154, 189, 232, 0.324);
}

.category .row {
  display: flex;
  justify-content: center;
}

.category .box-category2 img:hover {
  opacity: 50%;
  transition: 0.7s;
}

/* promo  */

.promo {
  margin: 50px 0;
}

.promo .card .diskon {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 0 5px;
}

.promo .card .diskon img {
  width: 20px;
}
.promo h2 {
  font-weight: bold;
  font-size: 24px;
  color: rgb(2, 15, 57);
}

.promo p:nth-child(2) {
  font-size: 14px;
}

.promo p:nth-child(1) {
  font-size: 14px;
}

.promo .logodisc {
  width: 15px;
}

.promo p:nth-child(3) {
  color: rgb(11, 11, 141);
}

/* benefit at page Home  */

.benefit {
  margin-top: 50px;
  padding: 50px 0;
  background-color: rgba(118, 204, 232, 0.205);
}

.benefit h2 {
  font-size: 22px;
  font-weight: bold;
}

.benefit p {
  color: grey;
}

.benefit-box {
  display: flex;

  justify-content: center;
  gap: 50px;
}

.benefit .benefit-box .nomer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(120, 200, 0);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

/* popular */

.popular {
  margin: 50px 0;
}

.popular h2 {
  font-size: 22px;
  font-weight: bold;
}

.popular .popular-box p {
  font-size: 14px;
}

.popular .popular-box p img {
  width: 15px;
}

/* footer */

.footer {
  background-color: rgb(11, 32, 101);
  padding-top: 10px;
}

.footer p {
  color: white;
  font-size: 12px;
  text-align: center;
}
