* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: grey;
}

/* upper  */
.upper {
  background-color: rgb(2, 15, 57);
  /* background-color: black; */
}

.upper .upper-box {
  display: flex;
  justify-content: space-between;
}

.upper .upper-box i {
  font-size: 10px;
}

.upper .upper-box1 span {
  color: white;
  font-size: 9px;
}

/* navbar */
.navbar span {
  font-weight: bold;
}

.navbar .nav-brand1 {
  background-color: yellow;
  font-size: 14px;
}

.navbar img {
  width: 30px;
}

.navbar li {
  font-size: 12px;
  font-weight: bold;
}

/* carousel  */
.carousel .carousel-inner {
}
